*{
    box-sizing: border-box;
}
body{
    font-family: 'Graphik LCG', sans-serif;
}
.partners{
    background-color: #FF9C7D;
}
.functions{
    background-color: #FFF8E4;
}
.blue{
    background-color: #C9E8F2;
}
.colored{
    background-color: #DABC98;
}
.section{
    background-color: #EEEEEE;
}



